@page "/calculator"
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>

<form onclick="submit">
<p role="math">Please enter the first number</p>
<input type="number" />
<p role="math">Please enter the second number</p>
</form>
<h1>Calculator Application</h1>




@code {

}
